// *************************************
//
//   #LIST-BLOCK
//
// *************************************

// The list-block object creates blocky list items out of a `ul` or `ol`.

// Predefine the variables below in order to alter and enable specific features.
$tree-list-block-namespace:         $tree-namespace !default;

$tree-list-block-padding:           $tree-base-spacing-unit !default;
$tree-list-block-padding--tiny:       quarter($tree-list-block-padding) !default;
$tree-list-block-padding--small:        halve($tree-list-block-padding) !default;
$tree-list-block-padding--large:       double($tree-list-block-padding) !default;
$tree-list-block-padding--huge:     quadruple($tree-list-block-padding) !default;

$tree-enable-list-block--tiny:      false !default;
$tree-enable-list-block--small:     false !default;
$tree-enable-list-block--large:     false !default;
$tree-enable-list-block--huge:      false !default;

.#{$tree-list-block-namespace}list-block,
%#{$tree-list-block-namespace}list-block {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        @extend %#{$tree-list-block-namespace}list-block__item;
    }

}

.#{$tree-list-block-namespace}list-block__item,
%#{$tree-list-block-namespace}list-block__item {
    padding: $tree-list-block-padding;
}





@if ($tree-enable-list-block--tiny == true) {

    // Tiny list-blocks.

    .#{$tree-list-block-namespace}list-block--tiny,
    %#{$tree-list-block-namespace}list-block--tiny {

        > .#{$tree-list-block-namespace}list-block__item,
        > %#{$tree-list-block-namespace}list-block__item {
            padding: $tree-list-block-padding--tiny;
        }

    }

}

@if ($tree-enable-list-block--small == true) {

    // Small list-blocks.

    .#{$tree-list-block-namespace}list-block--small,
    %#{$tree-list-block-namespace}list-block--small {

        > .#{$tree-list-block-namespace}list-block__item,
        > %#{$tree-list-block-namespace}list-block__item {
            padding: $tree-list-block-padding--small;
        }

    }

}

@if ($tree-enable-list-block--large == true) {

    // Large list-blocks.

    .#{$tree-list-block-namespace}list-block--large,
    %#{$tree-list-block-namespace}list-block--large {

        > .#{$tree-list-block-namespace}list-block__item,
        > %#{$tree-list-block-namespace}list-block__item {
            padding: $tree-list-block-padding--large;
        }

    }

}

@if ($tree-enable-list-block--huge == true) {

    // Huge list-blocks.

    .#{$tree-list-block-namespace}list-block--huge,
    %#{$tree-list-block-namespace}list-block--huge {

        > .#{$tree-list-block-namespace}list-block__item,
        > %#{$tree-list-block-namespace}list-block__item {
            padding: $tree-list-block-padding--huge;
        }

    }

}
